/* Master styling specification - OWD, 2023
 * https://www-users.york.ac.uk/~od641 */

/* --- Begin generic styles --- */

/* .table-container: prepare the direct children of a block to appear
 * side-by-side. Use .table-right-box for italic right-aligned tips. */

.table-container { display: table; }
.table-container > * {
    display: table-cell;
    vertical-align: middle;
}

.table-container > .table-right-box {
    text-align: right;
    font-style: oblique;
}

div iframe {
    width: 100%;
    border: 0;
}

/* .grid-container: the outermost element of the body, creating a two-column
 * layout with a width-spanning header and footer. */

.grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 25% auto;
}

.grid-container > div {
    border: 1px solid black;
    padding: 10px;
}

/* .grid-container > .body-section: create a non-special grid element whose
 * principal content - likely an iframe - should scale to the height of the
 * bounding box. */

.grid-container > .body-section {
    display: flex;
    flex-direction: column;
}

.grid-container > .body-section > iframe {
    width: 100%;
    border: 0;
    flex-grow: 1;
}

/* .grid-container > .body-section > .title-container: create a title bounding
 * box for a single grid body element. The title should be contained within an
 * H3 tag. */

.grid-container > .body-section > .title-container {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    overflow: clip;
}

.grid-container > .body-section > .title-container > h3 {
    margin: 0;
    font-size: x-large;
}

/* --- End generic styles      --- */
/* --- Begin single-use styles --- */

.grid-container > #header { grid-column: span 2; }
.grid-container > #header > img {
    width: 200px;
    box-shadow: 5px 5px gray;
    border: 1px solid black;
    margin-right: 30px;
}

.grid-container > #header h1 { margin: 0; }
.grid-container > #header h2 {
    margin: 0;
    font-weight: normal;
}

.grid-container > #tree { grid-row: 2 / span 2; }
.grid-container > #tree > iframe { height: 100%; }

.grid-container > #calendar {
    grid-column: 2;
    height: 600px;
}

.grid-container > #calendar-note { grid-column: 2; }
.grid-container > #last-updated { grid-column: span 2; }

.grid-container > #last-updated > #subtle-text > a {
    text-decoration: none;
    color: gray;
    font-size: small;
}

.grid-container > #last-updated > #subtle-text > a:hover {
    text-decoration: underline;
}

/* --- End single-use styles --- */

