body {
    font-family: monospace;
    margin: 0px;
    white-space: nowrap;
    font-size: large;
}

h1 {
    margin: 0px;
    font-family: serif;
    font-size: 1.5em;
    padding-bottom: 10px;
}

a:hover {
    text-decoration: underline;
    background-color: yellow;
    margin: 0px;
    padding: 0px;
}

a:active {
    margin: 0px;
    padding: 0px;
}

hr {
    display: none;
}

.VERSION {
    font-size: small;
    font-family: sans-serif;
}

.NORM  { color: black;  }
.FIFO  { color: purple; }
.CHAR  { color: yellow; }
.DIR   { color: blue;   }
.BLOCK { color: yellow; }
.LINK  { color: aqua;   }
.SOCK  { color: fuchsia;}
.EXEC  { color: green;  }

