body {
    font-family: monospace;
    margin: 0;
    white-space: nowrap;
}

p {
    margin: 0;
    padding-top: 10px;
    font-size: large;
}

a { margin: 0; }
a:hover {
    text-decoration: underline;
    background-color: yellow;
}

h1, hr { display: none; }

.VERSION {
    font-size: small;
    font-family: sans-serif;
    margin-top: 10px;
    border-top: 1px solid black;
}

.NORM  { color: black;   }
.FIFO  { color: purple;  }
.CHAR  { color: yellow;  }
.DIR   { color: blue;    }
.BLOCK { color: yellow;  }
.LINK  { color: aqua;    }
.SOCK  { color: fuchsia; }
.EXEC  { color: green;   }

