/* Directory tree styling specification - OWD, 2023
 * https://www-users.york.ac.uk/~od641/tree/tree.html */

body {
    margin: 0;
    white-space: nowrap;
}

p {
    margin: 0;
    padding-top: 10px;
    font-family: monospace;
}

a:hover { background-color: yellow; }
h1, hr { display: none; }

.VERSION {
    font-size: small;
    font-family: serif;
    margin-top: 10px;
    border-top: 1px solid black;
}

/* Original 'tree' styles */

.NORM  { color: black;   }
.FIFO  { color: purple;  }
.CHAR  { color: yellow;  }
.DIR   { color: blue;    }
.BLOCK { color: yellow;  }
.LINK  { color: aqua;    }
.SOCK  { color: fuchsia; }
.EXEC  { color: green;   }

