/* Calendar banner styling modifications - OWD, 2023
 * https://www-users.york.ac.uk/~od641 */

.grid-container > #calendar-banner {
    background-color: black;
    font-size: xx-large;
    text-transform: uppercase;
    font-family: monospace;
    color: yellow;
    padding: 5px;
    text-align: center;
    display: block;
}

/* We're essentially adding another row to the implicit grid. We need to
 * override the tree styling to span the newly expanded height. */

.grid-container > #tree { grid-row: 2 / span 3; }

